{
  auto_https off
}

:80 {
  encode gzip zstd
  reverse_proxy app:3000

  header {
    -Server
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}
